<!DOCTYPE HTML>
<html>
	<head>
		<title>Daine Bigham Namecard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/styles.css" />
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/daine.jpg"
													  alt="Photo of Daine Bigham" width="200"/></span>
							<h1>Daine Bigham</h1>
							<h2>Developer / Writer</h2>
							<a href="mailto:daine.bigham@gmail.com">daine.bigham@gmail.com</a>
						</header>
						<footer>
							<ul class="icons">
								<li><a href="https://www.linkedin.com/in/daine-bigham-87a71b217/" class="icon brands fa-linkedin">LinkedIn</a></li>
								<li><a href="https://github.com/dainebigham" class="icon brands fa-github">GitHub</a></li>
							</ul>
						</footer>
					</section>
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Daine Bigham</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>